## Mac OS x
.DS_*

## VS Code
.vscode

## node_modules
node_modules

## coverage
coverage

## test
test.css

## Others
네이버 코테
coupang
우아한테크코스 3기 코테
woowa-4th
line-codingtest
kakao-commerce
kakao-intern
